@import url('mains.css');

.cardItem {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #00000028;
}

.cardItem .cardItem-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    gap: 20px;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.cardItem .cardItem-content span {
    align-self: flex-end;
    position: absolute;
    cursor: pointer;
    user-select: none;
}

.cardItem.hidden {
    display: none;
}