@import url('main.css');

.cardItem-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9998;
    display: flex;
}

.cardItem {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-height: 90%;
    height: max-content;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: flex;
    overflow: hidden;
}

.cardItem .cardItem_content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 5px;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.cardItem .cardItem_content span {
    align-self: flex-end;
    position: absolute;
    cursor: pointer;
    user-select: none;
}

.cardItem .cardItem_content h2 {
    margin-bottom: 20px;
}

.cardItem-overlay {
    overflow-y: auto;
}

.cardItem.hidden {
    display: none;
}

.cardItem-overlay.hidden {
    display: none;
}