@import url('main.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--font-family);
    outline: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px;
}

.navbar {
    display: flex;
    border-bottom: 1px solid var(--gray-medium);
    height: max-content;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    overflow: hidden;
    user-select: none;
}

.navbar a {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: var(--gray-light);
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    align-self: center;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

.navbar a:hover,
.navbar a.active {
    background-color: var(--gray-medium);
}

.content {
    display: none;
    padding: 20px;
    border: 1px solid var(--gray-medium);
    border-top: none;
    flex-direction: column;
    gap: 20px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    overflow: hidden;
}

.content.active {
    display: flex;
}

/** tableau **/
table {
    border-collapse: collapse;
    width: 100%;
}

table :is(th, td) {
    white-space: nowrap;
    padding: 0 6px;
    height: 40px;
    font-size: 14px;
}

table th {
    transition: 0.3s;
    user-select: none;
    text-align: inherit;
    width: 200px;
}

table th i {
    margin-left: 5px;
    font-size: 12px;
}

table th:is(.active,:hover) {
    color: inherit;
}

table td {
    opacity: var(--text-opacity);
}

table tr {
    border-bottom: 1px solid var(--gray-dark);
}

table tbody tr:last-child {
    border: 0;
}

table tbody tr:nth-child(odd) {
    background-color: rgb(97 102 120 / 4%);
}

table tbody tr:hover {
    background-color: rgb(97 102 120 / 10%);
}

table tbody tr:hover td {
    color: var(--primary-color);
}

table tbody tr td:last-child {
    text-align: center;
}

table tbody tr td:last-child input {
    cursor: pointer;
}

.pagination {
    align-items: center;
    gap: 5px;
    user-select: none;
}

.pagination.visible {
    display: flex;
}

.pagination.invisible {
    display: none;
}

.pagination span {
    margin-left: auto;
    font-weight: 600;
}

input[type="radio"] {
    accent-color: var(--primary-color);
}

input[type="radio"]:checked {
    background-color: var(--primary-color);
}

.edit-input {
    padding: 5px;
    border-radius: var(--border-radius);
    border: 1px solid var(--gray-medium);
    font-size: 14px;
    width: 100%;
    transition: border-color 0.3s;
}

.edit-input:focus {
    border-color: var(--primary-color);
}

.pagination a {
    padding: 5px 20px;
    border: 1px solid var(--gray-medium);
    border-radius: var(--border-radius);
    background-color: var(--gray-light);
    font-size: 12px;
}

.pagination a:hover {
    background-color: var(--gray-medium);
    cursor: pointer;
}

.searchBar {
    padding: 10px 15px;
    border-radius: var(--border-radius);
    border: 1px solid var(--gray-medium);
    background: var(--background-color);
}

.searchBar:focus {
    border-color: var(--primary-color);
}

.login-button {
    padding: 10px 15px;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--primary-color);
    font-size: 12px;
    text-align: center;
    transition: background-color 0.3s;
    color: white;
}

.login-button:hover {
    background-color: var(--primary-hover);
    color: white;
}

.login-button.deco {
    background-color: var(--danger-color);
}

.btn_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.btn_list .btn-generate {
    padding: 10px 15px;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--primary-color);
    font-size: 12px;
    text-align: center;
    transition: background-color 0.3s;
    color: white;
    width: 100%;
    max-width: 400px;
    font-weight: 600;
    cursor: pointer;
}

.btn_list .btn-generate:hover {
    background-color: var(--primary-hover);
    color: white;
}

.overflowTable {
    overflow-x: auto;
}